<div class="row">
  <div class="col-md-6 col-sm-12 m-auto">
    <div class="card m-auto">
      <div class="card-header">Login</div>
      <div class="card-body">
        <form (ngSubmit)="onSubmit()" #LoginForm="ngForm">
          <div class="form-group col-12">
            <label for="UserName">UserName</label>
            <input
              type="text"
              class="form-control"
              ngModel
              #uName="ngModel"
              name="UserName"
              required
            />
            <span *ngIf="!uName.valid && uName.touched" class="error-block">
              <span *ngIf="uName.errors.required">Please provide username</span>
            </span>
          </div>
          <div class="form-group col-12">
            <label for="Password">Password</label>
            <input
              type="password"
              class="form-control"
              ngModel
              #uPass="ngModel"
              name="Password"
              required
            />
            <span *ngIf="!uPass.valid && uPass.touched" class="error-block">
              <span *ngIf="uPass.errors.required">Please provide password</span>
            </span>
          </div>
          <div class="form-group col-12">
            <button type="submit" class="btn btn-primary mr-2">Save</button>
            <button type="reset" class="btn btn-primary">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
